/*================================ Satrt large screens =========================*/
@media (min-width:1201px ) and (max-width: 1440px)
{
   .subscribe .subscribee {
    margin-left: 4%;
   }
}
@media (min-width:1025px) and (max-width:1200px)
{

}
/*============================== Start medium screen of tablet =========================*/
@media (min-width: 993px) and (max-width: 1024px)
{
    .blue i{
        top:43%;
        left: 55%;    
    }
    .blue .text-box h2{
        font-size: 19px;
        line-height: 35px;
    }
    .blue .ss{
        margin-left: 117px;
        margin-top: 70px;
    }
    .blue {
        margin-left: 0;
    }
    .quote i{
        left: 163px;
        bottom: 374px;
    }
    .quote pp{
        margin-left: 115px;
    }
    .subscribe .ee{
        width: auto !important;
    }
    .subscribe .subscribee{
        margin-top: 0;
        margin-right: 0;
    }
    .footer .second {
        margin-left: 123px;
    }
    .footer .hh {
        margin-left: 129px;
    }
}
@media (min-width: 769px) and (max-width: 992px)
{

}
@media(max-width:992px)
{

}
/*============================== Start small screen of mobile =========================*/
@media(max-width:768px)
{ /*first*/
    .first img {
        margin-left: 56px;
    }
    /*design*/
    .design{
        margin:50px;
    }
    /*colored*/
    .colored{
        margin-left: 50px;
    }
    /*quote*/
    .quote i{
        display: none;
    }
    .quote .text {
        font-size: 28px;
        margin-left: 55px;
    }
    /*awesome*/
    .awesome{
        margin-left: 50px;
    }
    .awesome .row .item {
        border: none;
    }
    .awesome .sec{
        font-size: 20px;
    }
    /*blue*/
    .blue .container{
        margin-left: 0 !important;
    }
    .blue i{
        display: none;
    }
    .blue {
        margin-left: 0 ;
    }
    .blue img{
        width: 100%;
    }
    .blue .p {
        margin-left: 0;
    }
    .blue .ss{
        margin-left: 73px;
    }
    .blue .text-box h2 {
        font-weight: bold;
        padding-left: 62px;
        font-size: 17px;
        margin-top: 32px;
        line-height: 30px;
    }
    .blue .p {
        margin-left: 50px;
        font-size: 18px;
        margin-top: 12px;
    }
    .blue img{
        height: 483px;
    }
    .blue .text-box .see {
        padding-left: 55px;
        font-size: 18px;
        letter-spacing: 3px;
        margin-top: 24px;
    }
    /*events*/
    .events{
        margin-left: 13px;
    }
    .events .marginn {
        margin-right: 10px;
    }
    /*subscribe*/
    .subscribe .subscribee {
        margin-top: 28px;
        margin-right: 0; 
        color: white;
        margin-left: 0 !important; 
        font-weight: 500;
       line-height: 1; 
    }
    .subscribe .ee{
        width: 200px!important;
    }
    /*footer*/


    .footer .visit:after {
        height: 18%;
        top: 300px;
    }

    .footer .visitt{
        border: none;
        padding: 0;
        display: block;
    }
    .footer .visit{
        padding: 0;
    }
    .footer .visit:after{
        display: none;
    }
    .footer .second{
        margin-top: 30px;
        margin-left: 0;
    }
    .first h2 {
        font-size: 25px;
   }
   .design h2 {
       font-size: 25px;
  }

    }
@media (min-width: 577px) and (max-width: 768px)
{ /*first*/
    .first .ed {
        margin-top: 20px;
    }
    /*colored*/
    .colored .news_card .img-box{
        height: auto;
    }
    /*footer*/
    .footer .second{
        margin-top: 0;
    }

}
@media(max-width:576px)
{
    
}
@media(min-width: 426px) and (max-width: 576px)
{


}
@media (min-width: 376px) and (max-width: 425px)
{

}
@media (min-width: 321px) and (max-width: 375px)
{
   
}
@media (max-width: 320px)
{

}
